@import './fonts.scss';
@import './themes.scss';
@import './mixins.scss';

* {
  box-sizing: border-box !important;
  text-align: left;
  cursor: auto;
}

body {
  margin: 0;
  font-family: $roboto;
  transition: all 1.5s ease;
  @include theme() {
    background: t($bg);
  }
}

.link {
  cursor: pointer;
}

.hidden {
  display: none;
}

.title {
  font-family: $cairo;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120px;
  margin: 0;
  text-align: left;
  @include theme() {
    color: t($text);
  }
  transition: all 0.5s ease;
}

.section {
  margin-left: 100px;
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  padding: 0 40px;
  overflow: hidden;
  margin-top: 1px;
  @include respond('ipad') {
    padding: 0 20px;
    margin-left: 100px;
    scroll-snap-align: none;
    height: auto;
    margin-top: 0px;
  }
  @include respond('phone') {
    padding: 0 10px;
    margin-left: 60px;
  }
}