$logo: 'logo';
$bg: 'bg';
$bg-oposite: 'bg-oposite';
$text: 'text';
$title: 'title';
$text-secondary: 'text-secondary';
$text-hover: 'text-hover';
$border: 'border';

$themes: (
  default: (
    logo: url(""),
    color--white: #ffff,
    title: $dark-black,
    text: $dark-gray,
    text-secondary: $dark-black,
    text-hover: $medium-gray,
    border: $dark-black,
    bg: #fff,
    bg-oposite: $light-black
  ),
  dark: (
    logo: url(""),
    text: #fff,
    title: #fff,
    text-secondary: $light-gray,
    text-hover: $medium-gray,
    border: $dark-black,
    bg: $light-black,
    bg-oposite: #fff
  ),
);