@import '../../styles/index.scss';


.home.section {
  @include respond('phone') {
    height: 100vh !important;
  }
}
.home {
  margin-top: 0 !important;
  &-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-height: 500px) {
      height: 100%;
    }
    @include respond('phone') {
      padding: 10px;
    }
  }
  &-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    object-fit: cover;
  }
  &-text {
    &-container {
      width: 40%;
      margin: 30px 0;
      @include respond('phone') {
        width: 38%;
        margin: 0px;
      }
    }
    &-p {
      text-align: left;
      font-size: $fsbody;
      @include theme() {
        color: t($text);
      }
      @include respond('phone') {
        font-size: $fss;
      }
      &--black{
        font-weight: 700;
      }
    }
  }
}

.home-title {
  &-container {
    height: 40vh;
    @include respond('phone') {
      height: 25vh;
    }
    @media (max-height: 500px) {
      height: 300px;
    }
  }
  &-line1, &-line2 {
    text-align: right;
    position: absolute;
    font-size: 13vw;
    margin: 0;
    @include theme() {
      color: t($text);
    }
    @include respond('ipad') {
      font-size: 20vw;
    }
    @include respond('phone') {
      font-size: 19vw;
    }
    
  }
  &-line1 {
    top: 12vh;
    right: 41vw;
    @include respond('ipad-pro') {
      top: 17vh;
      right: 40vw;
    }
    @include respond('ipad') {
      top: 20vh;
      right: 39vw;
    }
    @include respond('phone') {
      right: 35vw;
    }
    @media (max-height: 500px) {
      top: 100px;
    }
  }
  &-line2 {
    top: 35vh;
    right: 19vw;
    @include respond('ipad-pro') {
      right: 18vw;
    }
    @include respond('ipad') {
      right: 16vw;
    }
    @include respond('phone') {
      right: 3vw;
      top: 32vh;
    }
    
    @media (max-height: 500px) {
      top: 200px;
    }
  }
}