@import '../../styles/index.scss';

.home {
  margin-top: 0 !important;
  &-container {

  }
  &-bg-img {
   width: 100%;
   height: 400px;
   object-fit: cover;
  }
  &-text {
    &-container {
      padding-bottom: 53px;
      width: 40%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond('phone') {
        width: 100%;
        padding: 0 20px 53px;

      }
    }
    &-p {
      text-align: center;
      font-size: $fsbody;
      @include theme() {
        color: t($text);
      }
      @include respond('phone') {
        font-size: $fss;
      }
      &--black{
        font-weight: 700;
      }
      &--gray{
        color: $dark-gray !important;
        font-weight: 700;
      }
    }
  }
  &-title {
    margin: 0;
    text-align: center;
    padding: 0 50px;
    font-weight: 800;
    font-size: 90px;
    line-height: 90px;
    padding-top: 50px;
    @include theme() {
      color: t($title);
    }
    @include respond('ipad') {
      font-size: 7vw;
      line-height: 7vw;
    }
    @include respond('phone') {
      font-size: 8vw;
      padding-top: 30px;
    }
  }
}
